* {
    box-sizing: border-box;
  }
  .rul
  {
    background-color:lightblue;
    
    width: 100%;
    padding: 10px 15px;
    margin-top: 7px;
  }

.lefttoleft{
    float: left;
    width: 10px;
}
  .left {
      float: left;
      width: 450px;
      height: 250px;
  }

  .cent {
      float: left;
      width: 30%;
      height: 20%;
      background-color: antiquewhite;
       padding: 65px;
      /* margin-left: 20px; */
      font-size: xx-large;
  }
  .right
  {
      float: left;
      width: 40%;
      margin-bottom:80px ;
      padding: 65px;
   
      
  }
  .ff {

      
  }

  footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  font-size: xx-small;
  color: white;
}
  @media only screen and (max-width:1000px) {
    /* For tablets: */
    .left,.cent,.lefttoleft {
      width: 100%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
    
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  